
.box {
  width:460px;
  height:765px;
  background-color:rgb(87, 69, 69);
  border-radius: 1em;
  margin: 10vh auto 0 auto;
  padding-top:15px;
}
.button {
  border: 1px solid #999898;
  line-height: 100px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
}
.button:hover {
  background-color: #c7c7c7;
  color: rgb(0, 0, 0);
  transition: 0.1s ease-in-out;
}
.buttonOperator {
  color:#ffa500;
  border-top: 1px solid #999;
  border-right: 1px solid#999;
  border: 1px solid #999898;
  line-height: 100px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  font-weight:400;
  font-size: 34px;
  }
  .buttonOperator:hover {
  background-color: #5b5b5b;
  color: orange;
  transition: 0.1s ease-in-out;
  }
.buttons {
  display: grid;
  border-bottom: 1px solid #999898;
  border-left: 1px solid#999898;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.buttons > div {
  border-top: 1px solid #999898;
  border-right: 1px solid#999898;
}
.calculateImg {
  filter :grayscale(100%)
}
.container {
  max-width: 400px;
  box-shadow: 0px 0px 43px 17px rgba(153, 153, 153, 1);
  margin-left:auto;
  margin-right:auto;
}
.divisionImg{
  height:25px;
}
.swapImg {
  height:41px;
  margin-top:20px;
}
#allClear {
  font-size: 25px;;
}
#display {
  text-align: right;
  height: 70px;
  line-height: 70px;
  padding: 16px 8px;
  font-size: 25px;
  border: 4px ridge #c7c7c7;
  background-color: white;
}
#divisionBtn {
  font-size: 34px;
  background-color:white
}
#divisionBtn:hover {
  background-color: #5b5b5b;
}
#equalBtn {
  background-color: rgb(81, 81, 217);
  color: white;
}
#equalBtn:hover {
  background-color: rgba(48, 48, 106, 0.566);
}
#numberEight{
  font-weight:600;
}
#numberFour{
  font-weight:600;
}
#numberFive{
  font-weight:600;
}
#numberNine{
  font-weight:600;
}
#numberOne {
  font-weight:600;
}
#numberSeven{
  font-weight:600;
}
#numberSix{
  font-weight:600;
}
#numberThree{
  font-weight:600;
}
#numberTwo{
  font-weight: 600;
}
#numberZero{
  font-weight: 600;
}
#percentageBtn {
  font-size:25px;
}
#result {
  text-align: right;
  height: 70px;
  line-height: 70px;
  padding: 16px 8px;
  font-size: 25px;
  border: 4px ridge #c7c7c7;
  background-color: white;
}
#swapMode {
  background-color:white;
}
#swapMode:hover {
  background-color: rgb(30, 167, 217);
}

